/*  your css code here. If applicable */
.container {
	background-color: gray;
	border: 2px solid black;
	border-radius: 20px;
	text-align: center;
	padding: 30px;
	display: flex;
	justify-content: center;
	gap: 20px
}
.item {
	width: 150px;
	height: 150px;
	border-radius: 50%;	
}
.item1 {
	background-color: green;
}
.item2 {
	background-color: yellow;
}
.item3 {
	background-color: red;
}



